@import url(http://fonts.googleapis.com/css?family=Russo+One);

body {
    background: url('/images/shl.png');
}

.logo-font{
    font-family: 'Russo One', sans-serif;
}

#Navbar li.logo a {
   font-size: 25px;
   -webkit-transition: all .2s linear;
   -moz-transition: all .2s linear;
   transition: all .2s linear;
}

#content {
    margin-top:80px;
}
