@import url(http://fonts.googleapis.com/css?family=Russo+One);

body {
    background: url('/images/shl.png');
}

.logo-font {
    font-family: 'Russo One', sans-serif;
}

#Navbar li.logo a {
   font-size: 25px;
   -webkit-transition: all .2s linear;
   -moz-transition: all .2s linear;
   transition: all .2s linear;
}

#ChatButton.on .on-text { display: none; }
#ChatButton.on .off-text { display: inline; }
#ChatButton.off .on-text { display: inline; }
#ChatButton.off .off-text { display: none; }

#content {
    margin-top:80px;
}

.center-aligned {
    text-align: center;
}

.left-aligned {
    text-align: left;
}

.logo {
    font-size: 100px;
    color: #222;
}

.logo-desc {
    font-size: 30px;
    margin-top: 20px;
}

.join-channel {
    padding-bottom: 55px;
}

.join-channel input.text {
    height: 50px;
    width: 385px;
    padding-left: 15px;
    font-size: 30px;
    line-height: 50px;
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    border-radius: 15px 0 0 15px;
}

.join-channel input.btn.submit {
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    border-radius: 0 15px 15px 0;
    height: 60px;
    font-size: 30px;
}

.title {
    margin-top: 50px;
    font-size: 40px;
    color: #999;
    text-shadow: 1px 1px #222;
}

.title.join-channel-title {
    padding-top: 45px;
    font-size: 50px;
    margin-bottom: 20px;
    color: #555;
}

.how-to-use {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.how-to-use dt, .how-to-use dd {
    margin-bottom: 10px;
}

.how-to-use dt.last, .how-to-use dd.last {
    margin-bottom: 0px;
}

.copyright {
    font-size: 15px;
    color: #777;
    margin-top: 50px;
}

#Chat {
    position: fixed;
    top: 41px;
    left: 0px;
    background-color: black;
    color: white;
    margin: 0px;
    width: 420px;
    padding: 3px 5px;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

#Chat:hover {
    opacity: 0.8;
    filter: alpha(opacity = 80);
    cursor: pointer;
}

#Chat.hidden {
    display: none;
}

#Chat dl {
    width: 100%;
    margin: 0px;
    padding: none;
}

#Chat dl dt {
    width: 90px;
    font-weight: bold;
}

#Chat dl dd {
    margin-left: 100px;
    font-weight: normal;
    white-space:pre-wrap;
    white-space:-moz-pre-wrap;
    white-space:-pre-wrap;
    white-space:-o-pre-wrap;
    word-wrap:break-word;
}

#Chat dl .from_me {
    color: #FFCCFF;
}

#Chat .input-box {
    margin-top: 5px;
    border-top: 1px solid #333;
    padding-top: 4px;
    padding-bottom: 3px;
}

#Chat .input-box .nick {
    float: left;
    width: 90px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

#Chat .input-box .chat-text-input-wrapper {
    margin-left: 100px;
    height: 20px;
    overflow: hidden;
}
#Chat .input-box .chat-text-input-wrapper input.chat-input {
    margin: 0px;
    padding: 0px;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: transparent;
    color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

@media(max-width: 979px) {
    #Chat {
        top: 51px;
    }
}

@media(max-width: 767px) {
    #Chat {
        width: 90%;
        left: 5%;
        margin: 0px auto;
        padding: 0px;
    }

    #Chat dl dd {
        margin-left: 10px;
    }

    #Chat .input-box .chat-text-input-wrapper {
        margin-left: 10px;
    }

    #Chat .input-box .nick {
        display: none;
    }
}

.modal input.modal-big-text {
    width: 80%;
    margin: 0px auto;
    display: block;
    height: 40px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 30px;
    line-height: 40px;
    padding-left: 10px;
}

.modal .modal-body .alert.no-whitespace {
    width: 80%;
    margin: 15px auto 0px;
}
