!!! 5
html
    head
        title Scenic
        link(href='/images/favicon.png', rel='icon', type='image/x-icon')

        != css('bootstrap.min')
        != css('bootstrap-responsive.min')
        != css('scenic')

        include templates
    body
        block content

        script(type='text/javascript', src='/socket.io/socket.io.js')
        != js('scenic-client')
