script#navbar_template(type='text/html')
    ul.nav
        li.logo.logo-font
            a(href='/') Scenic
        {{#channel}}
        li
            a(href='#') Chat
        li
            a(href='#') Pictures
        {{/channel}}

script#index_template(type='text/html')
    .container
        h1.logo-font Scenic

script#channel_template(type='text/html')
    .container
        h1.logo-font Scenic
        h2 {{channel}}
