script#navbar_template(type='text/html')
    ul.nav
        li.logo.font-8bit
            a(href='/') Scenic
        {{#channel}}
        li
            a(href='#') Chat
        li
            a(href='#') Pictures
        {{/channel}}
